.home-hero{
    position: relative;
    width: 100%;
    text-align: center;
    overflow: hidden;
    padding: auto;
    color: white;
    background:
    linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),
     url(../assets/pictures/pexels-goumbik-574069.jpg)
      no-repeat center center/cover;
      padding: 50px 0px;
}
.home-hero-tittle h1{
    font-size: clamp(15px, 6vw, 50px);
    margin: 15px 0px;
    border: none;
}

.home-hero-subtitle {
  font-family: var(--font-body);
  font-size: clamp(10px, 3vw, 20px);
  line-height: 1.6;
  margin: 15px 0px;
}
.home-hero-button {
  display: inline-block;
  padding: 15px 25px;
  font-size: clamp(12px, 2vw, 18px);
  color: white;
  background-color: #0078D4;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin: 15px 0px;
}

.home-hero-intro{
    font-size: clamp(12px, 3vw, 18px);
    line-height: 1.6;
    text-align: center;
    max-width: 80%;
    margin: 20px auto;
}

.tech-used-title{
    text-align: center;
    font-size: clamp(20px, 4vw, 40px);
    margin: 30px 0px;
}
.tech-used-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.tech-used-icon{
    width: clamp(50px, 10vw, 100px);
    height: auto;
    transition: transform 0.3s ease;
}

.expert-insights{
    text-align: center;
    font-size: clamp(12px, 3vw, 18px);
    max-width: 100%;
    padding: 10px 0px;
    background-color: whitesmoke;
}

.expert-insights-title{
    font-size: clamp(20px, 4vw, 40px);
    color: #0078D4;
    margin: 30px 0px;
}
.expert-insights-card{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var();
}
.expert-insights-cards{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.expert-insights-author{
    font-size: clamp(16px, 3vw, 24px);
    margin-bottom: 5px;
    color: #0078D4;
}
.expert-insights-role{
    font-size: clamp(12px, 2vw, 18px);
    margin-bottom: 15px;
    font-style: italic;
}
.expert-insights-quote{
    font-size: clamp(14px, 2.5vw, 20px);
    line-height: 1.6;
    quotes: "“" "”" "‘" "’",#0078D4;
}