*{
box-sizing:border-box;
margin:0;
padding:0;
}

body{
font-family:Arial, Helvetica, sans-serif;
background:#f4f4f4;
line-height:1.6;
}


/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 40px;
background:#8e44ad;
color:white;
}

.logo{
font-size:24px;
font-weight:bold;
}

.nav-menu{
display:flex;
gap:30px;
list-style:none;
}

.nav-menu a{
color:white;
text-decoration:none;
font-weight:500;
transition:0.3s;
}

.nav-menu a:hover{
opacity:0.7;
}


/* MAIN AREA */

main{
background-color:rgb(240, 240, 240);
padding:20px;
}


/* FOOTER */

.footer{
display:flex;
justify-content:space-between;
flex-wrap:wrap;
padding:50px 40px;
background:#2c3e50;
color:white;
gap:40px;
}

.footer-column{
max-width:300px;
}

.footer-column h2{
margin-bottom:15px;
}

.footer-column ul{
list-style:none;
}

.footer-column li{
margin-bottom:8px;
}


/* SOCIALS */

.socials-list{
display:flex;
gap:15px;
margin-top:10px;
}

.socials-list img{
width:28px;
height:28px;
transition:0.2s;
}

.socials-list img:hover{
transform:scale(1.1);
}


/* MOBILE */

@media (max-width:768px){

.navbar{
flex-direction:column;
gap:15px;
}

.footer{
flex-direction:column;
}

}


.page-hero{
border-radius: 10px 10px 0 0;
padding: 20px;
background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/assets/pexels-madeon08-102061.jpg") center/cover no-repeat;
}
.page-title{
font-size:48px;
margin-bottom:20px;
color:white;
}
.page-subtitle{
font-size:20px;
color:white;
margin-bottom:30px;
}
.page-intro{
background-color: #ffffff;
padding: 20px;
font-size:18px;
color:#444;
line-height:1.7;
border-radius: 0 0 10px 10px;
}
